<%= form_with(model: @RescuerMember, method: :patch, local: true) do |f| %></td>
  <table>
    <td colspan = '2' class = 'table_top'>救援者 情報</td>
    <tr>
      <th>救援施設名</th>
      <td><%= f.text_field :rescue_station, value: @rescuer_member.rescue_station, size: 40 %></td>
    </tr>
    <tr>
      <th>救援施設名 カナ</th>
      <td><%= f.text_field :rescue_station_kana, value: @rescuer_member.rescue_station_kana, size: 40 %></td>
    </tr>
    <tr>
      <th>代表者名</th>
      <td><%= f.text_field :representative, value: @rescuer_member.representative, size: 40 %></td>
    </tr>
    <tr>
      <th>代表者名 カナ</th>
      <td><%= f.text_field :representative_kana, value: @rescuer_member.representative_kana, size: 40 %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= f.email_field :email, value: @rescuer_member.email, size: 40 %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= f.text_field :post_code, value: @rescuer_member.post_code, size: 40 %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= f.text_field :home_address, value: @rescuer_member.home_address, size: 40 %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%= f.telephone_field :phone_number, value: @rescuer_member.phone_number, size: 40 %></td>
    </tr>
    <tr class = 'comment'>
      <th class = 'comment'>コメント</th>
      <td><%= f.text_area :comment, value: @rescuer_member.comment, size: '42x3' %></td>
    </tr>
    <td colspan = '2' class = 'table_down'>
      <%= f.submit '更新', class: 'button'  %>
    </td>
  </table>
<% end %>
