<% @page_title = 'rescuer_members_index' %>

<div class = 'row'>
  <% @rescuer_members.each do|rescuer_member| %>
    <div class = 'col-xs-8 col-md-4'>
      <div class = 'card'>
        <div class = 'wrapper'>
          <div class = 'data'>
            <div class = 'content'>
              <div class = 'rescue_station_kana'>
                <%= rescuer_member.rescue_station_kana %>
              </div>
              <div class = 'rescue_station'>
                <%= rescuer_member.rescue_station %>
              </div>
              <div class = 'representative'>
                <span class="material-icons emoji_people">emoji_people</span>
                代表者：<%= rescuer_member.representative %>（<%= rescuer_member.representative_kana %>）
              </div>
              <div class = 'post_code'>
                 <span class = 'post_icon'>〒 </span>
                 <%= rescuer_member.post_code %>
              </div>
              <div class = 'home_address'>
              <span class = 'material-icons house'>house</span>
                <%= rescuer_member.home_address %>
              </div>
              <div class = 'phone_number'>
                <span class = 'material-icons phone_in_talk'>phone_in_talk</span>
                <%= rescuer_member.phone_number %>
              </div>
              <div class = 'email'>
                <span class = 'material-icons mail_outline'>mail_outline</span>
                <%= rescuer_member.email %>
              </div>
              <div class = 'comment'>
                <p class = 'help'>< ご支援をお願い致します。></p>
                <% if rescuer_member.comment.present? %>
                  <%= rescuer_member.comment %>
                <% else %>
                  <p class = 'help'>
                    小さい子から大人の子まで多くの犬猫を保護しています。
                    毎日のフード、シーツ等に大変お金がかかります。
                    ご支援をしていただけないでしょうか。
                  </p>
                <% end %>
              </div>
              <div class = 'support_button'>
                <%= link_to '支援する', dashboard_suppoter_item_path(current_support_member) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class = 'paginate_position'><%= paginate @rescuer_members %></div>